APP_PORT=3000

LOG_LEVEL=log
LOG_DEBUG_PAYLOADS=false

SEED_DEMO_PASSWORD=Demo1234!

DB_TYPE=postgres
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=anyjobs
DB_SSL=false
DB_LOGGING=false
DB_SYNCHRONIZE=false
DB_MIGRATIONS_RUN=false

PAGINATION_DEFAULT_PAGE_SIZE=20
PAGINATION_MAX_PAGE_SIZE=100

SWAGGER_ENABLED=true
SWAGGER_PATH=docs
AUTH_SWAGGER_ON=true

